*{
	list-style: none;
	text-decoration:none;
	padding: 0;
	margin: 0 auto;
}


.contenedor{
	width: 100%;
	margin-bottom: 120px;

	/*background: black;*/
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20vh;
}
.navegador{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #3c3c3c;
  -webkit-box-shadow: 12px 12px 29px #555;
  display: flex;
  flex-direction: row;
  z-index: 150;

}

.ui{

  width: 40%;
  height: 80px;
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.ui li{
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  position: relative;
  cursor:pointer;


}


.ui li img{
  width: 40px;
  height: 40px;
  

}
.ui li a{
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;

}
.ui li:before{
  content: '';
  width: 100%;
  height: 2px;
    position: absolute;
  top: -5%;
  left: 0;
  background: #fc5957;
  transform: scale(0);
  transform-origin: right;
  transition: 0.5s ease-in;
    transition: 0.2s ease-out;
  border-radius: 15px;

}

.ui li:after{
  content: '';
  width: 100%;
  height: 2px;
    position: absolute;
  bottom: -5%;
  right: 0;
  background: #fc5957;
  transform: scale(0);
  transform-origin: left;
  transition: 0.5s ease-in;
  transition:  0.2s ease-out;
  border-radius: 15px;

}

.ui li:hover:before{
  transform: scale(1);

}
.ui li:hover:after{
  transform: scale(1);

}

.flechai{
  opacity: 0;
  width: 80px;
  height: 100%;
  position: absolute;
  left: -15%;
  right: 0%;

  animation: 1s animarflecha;
     transition: 0.3s ease-in;
    transition: 0.2s ease-out;
  animarCuadro infinite;
  animation-iteration-count: infinite;

}
.flechai i{
   opacity: 0.1;
  margin-top:25%;
 font-size: 3em;
 margin-left: 25%;
  background-size: cover;
  color: lightgrey;
}
.cajalogo{
  position: absolute;
  width:120px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  border-radius:100%;
  cursor: pointer;
    
}
.cajalogo img:hover{
transform: scale(1.05);
border-radius: 100%;

}
.logo{
    position: relative;
    border-radius: 100%;
  width: 100%;
  transition: 0.5s ease-in;
  transition: 0.3s ease-out;
  }
.flechad{
  opacity: 0;
  width: 80px;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 19%;
  animation: 1s animarflecha;
    transition: 0.3s ease-in;
    transition: 0.2s ease-out;
   transform-origin: 0%;
  animarCuadro infinite;
  animation-iteration-count: infinite;


}
.flechad i{
 opacity: 0.1;
  margin-top:25%;
 font-size: 3em;
 margin-left: 12%;
  background-size: cover;
  color: lightgrey;
}



.ud{
  width: 40%;
  height: 80px;
  position: absolute;
 right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;


}
.ud li{
  display: flex;
  flex-direction: column; 
  opacity: 0.5;
  position: relative;

}


.ud li img{

  width: 40px;
  height: 40px;
  
 
}
.ud li a{
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;

}
.ud li:before{
  content: '';
  width: 100%;
  height: 2px;
    position: absolute;
  top: -5%;
  left: 0;
  background: #fc5957;
  transform: scale(0);
  transform-origin: right;
  transition: 0.5s ease-in;
  transition:  0.2s ease-out;
  border-radius: 15px;
}
.ud li:after{
  content: '';
  width: 100%;
  height: 2px;
    position: absolute;
  bottom: -5%;
  right: 0;
  background: #fc5957;
  transform: scale(0);
  transform-origin: left;
  transition: 0.5s ease-in ;
  transition:  0.2s ease-out;
    border-radius: 15px;

}
.ud li:hover:before{
  transform: scale(1);
}
.ud li:hover:after{
  transform: scale(1);
}
.titulo{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: #fc5957;
    text-align: center;
    
    transition: 0.5s ease-in;
    transition: 0.2s ease-out;
    transition-delay: 0.2s; 
    position: absolute;
     width: 100%;


}
.caja1{
	width: 70%;
	height: auto;
/*background:red;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;



}
.barra1{	
	margin-top: 8%;
	width: 80%;
	height: 120px;
	
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  
}
.ft{
	width: 20%;
	height: 90%;
	
}
.fot{
	width: 60%;
	height: 90%;
  margin-left: 0%;
	margin-top: 2%;
	border:3px solid #fc5957;
    border-radius: 100%;
}
.fot img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.cajacomp{
	width: 60%;
	height: 100%;

	
}
.cajacomp form{
	width: 100%;
	height: 90%;
  margin-top: 2%;
	display: flex;
	flex-direction: column;
}
form textarea{
	width:100%;
	height:100%;
	margin-top: 1px;
	display: block;
	text-align: center;
	border: none;
	 font-family: 'Lobster', cursive;
    font-size: 1em;
    color: #fc5957;
    text-align: center;
      border:2px solid #fc5957;
  border-radius: 12px;

	
}
.btnscomp{
	display: flex;
	flex-direction: row;
		width: 100%;
		margin-bottom: 5px;
		
}
.send{
  height: 100%;
}
.im{
	
width: 20%;


}
.cajaint{
	width: 80%;
	height: 300px;
	
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
  
  margin-top: 40px;
}

.cajafoto{
	width: 25%;
	height: 90%;
	/*border:3px solid red;*/
	border-radius: 15px;

}
.foto{
    width: 55%;
    margin-left: 0;
    height: 40%;
	border-radius: 100%;
	border:3px solid #fc5957;
	margin-top: 5px;

}
.foto img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.cajapublic{
	width: 65%;
	height: 90%;
	
	border-radius: 12px;
	overflow-y: scroll;
  display: flex;
  flex-direction: column;
  
}
.caja_nom_usu{
  width: 80%;
  height: 50px;
  background: #fc5957;
  border-radius: 10px;
    margin-top: 20px;



  
}
.caja_nom_usu h3{
color: white;
font-family: 'Roboto',black;
    text-align: center;
    font-size: 1.5em;
    margin-top:5px;
 
  
}
.pr{
  margin-top: 20px;
  background: lightgray;
  border-radius: 10px;
  padding: 5px;
  width: 75%;
  height: auto;
  box-shadow: 0px 0px 2px;

}.cajapublic p{
  font-family: 'Roboto',black;
   text-align: center;
   color: #424242;
    margin-top: 20px;

}
.cajapublic img{
  width: 90%;
  height: 200px;
    margin-top: 20px;margin-bottom: 20px;


}
.cajareaccion{
  width: 90%;
  height: 40px;
  background:#fc5957; 
  border-radius: 10px;
  margin-bottom: 20px;
 

}
.megusta{
  color:darkred;
  font-size:2em;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
  float: left;
  text-shadow:0px 0px 3px black;
  transition: 0.2s ease-in-out;
}
.coment{
    color:darkred;
  font-size:1.8em;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
  float: left; 
  text-shadow:0px 0px 3px black;
  transition: 0.2s ease-in-out;
}
.num_megusta{
  margin-top: 15px;
  color: #424242;
  font-family: 'Lobster', cursive;
  float: left;
  transition: 0.2s ease-in-out;

  
}
.megusta:hover{
  text-shadow:0px 0px 5px black;
  transform: scale(1.05);
}
.comentarios{
  margin-top:15px;
  color: #424242;
  font-family: 'Lobster', cursive;
  margin-right: 200px;
  float: left;

}
.caja_comentarios{
    width: 100%;
  height: 60px;
  background:#fc5957; 
  border-radius: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}
.caja_comentarios img{
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border:2px solid white;
}
.caja_comentarios textarea{
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
    color: #424242;
  font-family: 'Lobster', cursive;
  
}
hr{
  margin-top: 20px;
  margin-bottom: 20px;
}
.caja2{
	width: 30%;
	height: 100vh;
/*	background:darkred;*/
	display: flex;
	flex-direction: column;

}

.cajajuegos{
	width: 85%;
	height: 25%;
    border:2px solid #fc5957;
	border-radius: 12px;
	    margin-top: 85px;
      
}
.imgjuego{
      width: 96%;
    margin-left: 2%;
    margin-top: 1%;
    height: 96%;
}
.ttjuego{
  margin-left: 27%;
 
}


footer{
  width: 100%;
  height: 50px;
  background: #3c3c3c;
  -webkit-box-shadow: -10px -10px 35px #555;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  left: 0;
}
footer .cajasinternasfoooter{
      display: flex;
    flex-direction: row;
}
footer .cajaiconos{
  width: 40px;
  height: 40px;
  position: relative;
  opacity: 0.3; 
  transition: 0.5s ease-in;
    transition: 0.2s ease-out;
    padding-top: 1%;
    margin-left: 10px;
    margin-right: 10px;


}
.txtfooter{
  color: white;
  font-family: 'Roboto',black;
}
footer .cajaiconos img{
  width: 40px;
  height: 40px;


}
footer .cajaiconos i{
  color: white;
  position: absolute;
  top: 42%;
  left: 30%;
  font-family: 'Lobster', cursive;
  cursor:pointer;
text-shadow:5px 5px 25px white;
}
footer .cajap{
  width: 160px;
  margin-left: 15px;
  position: relative;
  
  overflow: hidden;
}
footer .cajap p{
   color: white;
    font-family: 'Lobster', cursive;
 
    font-size: 0.7em;
    margin-top: 5%;
    padding-left: 20px;
    position: absolute;
    left: -100%;
    transition: 0.5s ease-in;
    transition: 0.2s ease-out;
    border-left: dashed 2px white;



}
@keyframes animarflecha{


  100%{
    transform: scale(1.2);


  }
  }
.imagenprb{
width: 40%;
margin-left: 30%;
}
/*esponsive tablet*/


@media screen and (max-width: 1080px) and (min-width: 0px){

  .ui{
      display: inline-flex;
    }
    .ui li{
    display: block;
    }

   .ui li img{
    width: 30px;
    height: 30px;

   }   
   .ui li a{
    font-size: 0.8em;
  }

   .ud  {
    margin-right: 2%;
    display: inline-flex;
    flex-direction: row;
   }
   .ud li{
    display: block;
    margin-left: 0;
   }
      .ud li img{
    width: 30px;
    height: 30px;
   }

   .ud li a{
    font-size: 0.8em;
   }
   .logo{
    width: 100px;
    z-index: 10;
   }



.contenedor{

		flex-direction: column;
	}
	.titulo{
  
        width: 100vw;
        text-align: center;
	    left: 0;
      top: 150px;
}

	.caja1{
		width: 100vw;
	
		display: block;

	}
	.barra1{
	    margin-top: 120px;
    margin-bottom: 45px;
	}
	.ft{
	width: 20%;
	height: 80%;
	
}
.fot{
	    width: 80px;
    height: 80px;
    margin-top: 0px;
	border:2px solid white;
    border-radius: 100%;
}
.cajacomp{
	width: 60%;
}
	.cajaint{
		flex-direction: column;
		justify-content: space-around;
		height: 80%;

	}
	.cajafoto{
		width: 90%;

		height: 20%;
	}
	.foto{

      height: 70px;
      width: 80px;
      margin-left: 2%;
	}
	textarea{
		width: 80%;
	}

	.cajapublic{
		width: 90%;
		    margin-bottom: 5%;
   
	
	}
	.caja2{
		width: 100%;
		height: 80vh;
		position: relative;
	}
	.titulojuegos{
      width: 100vw;
    
         

	}
	.cajajuegos{
		margin-top:80px;
		height: 40%;  
    width: 80%;

	}
.imgjuego{
  width: 86%;
  }  
  .ttjuego{
  margin-left: 35%;
}
  footer{
    left: 0%;
  }
}
@media screen and (max-width: 580px ) and (min-width: 0px){
  .ui{
  display: block;
}
.ud{
    margin-right: -33%;
    display: block;
}
.ud li img{
    width: 20px;
    height: 20px;
}

.ui li img{
    width: 20px;
    height: 20px;
}
.barra1{
	    margin-top: 120px;
	height: 200px;
}
.fot {
    width: 80%;
    height: 40%;
    margin-top: 30%;
  
}
.cajacomp {
    width: 80%;
}
.btnscomp{
	display: initial;
}
.im{
  margin-left: 15%;
    width: 30%;
	    
    margin-bottom: 5px;
}
.send{
	display: block;
	width: 100%;


}
.ft{
	display: none;
}
.foto{
	margin-left: 2%;
}
.cajaint{
	height: 80%;
}
.titulojuegos{
	


}
.cajajuegos {
margin-top: 80px;
    width: 85%;
    left: 7%;
    }
.contenedor {
    height: 100%;
    margin-bottom: 50px;
}.cajap{
  display: none;
}
.caja2{
  padding-bottom: 150px;
}
.ttjuego{
  margin-left: 22%;
}
footer{
  padding-left: 0;
}
}
